.jq-schedule .sc_menu .sc_header .sc_time {
    border-left: 1px solid #ddd;
    color: #777;
    background: #fff;
}
.jq-schedule .sc_menu .sc_header_cell, .jq-schedule .sc_data {
    color: #777;
    font-weight: normal;
    background: #fff;
}
.jq-schedule .sc_data .timeline {
    border-right: 1px solid #ddd;
    padding: 15px;
}
.jq-schedule .timeline, .jq-schedule .sc_main .tb {
    border-bottom: 1px solid #777;
}
.jq-schedule .sc_menu .sc_header .sc_time {
    text-align: left;
    background: #ebebeb;
}
.jq-schedule .sc_bar .text {
    display: block;
    margin-top: 0px;
    font-weight: normal;
    padding: 0 14px;
    font-size: 10px;
    height: 1.2em;
    overflow: visible;
}